<!DOCTYPE html>

<html>

<head>
    <title>Budget App</title>
    <link rel="stylesheet" href="/css/index.css" type="text/css">
    
</head>

<body>
<div class="container">
    {{>header}}
    <h1 class="display-3">Budget App</h1>
    <p>Please select from the nav bar above.</p>
</div>


</body>

</html>